.html > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.html > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.html > ul {
  margin-bottom: 2rem;
}
.html > p {
  margin: 1rem 0;
}
.html > * > * img {
  margin-bottom: 2rem;
  height: auto;
  width: auto;
  max-width: 800px;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.html > * > pre {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  color: #ea906c;
  background: #3a3939;
  border: 3px solid #526d82;

  border-radius: 12px;
}
.html > blockquote {
  border-left: 3px rgb(167, 167, 167) solid;
  color: rgb(167, 167, 167);
  padding-left: 0.55rem;
  margin: 1rem 0;
}
.html > * > li::before {
  content: '•';
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
